<div class="mainvisual">
  <%= image_tag "wildrecipe_mv.jpg", class: "mainimg" %>
  <div class="mainvisual-logo">
    <%= image_tag "wildrecipe_logo.png"%>  
  </div>
</div>
<div class="label gray-label">
  <h3>新着レシピ</h3>
</div>
<section>
  <% @recipes.each do |recipe| %>
    <%= render "layouts/recipe_list", recipe: recipe %>
  <% end %>
</section>
