<div class="text-center">
  <h1>WildRecipeへようこそ</h1>
  <p>WildRecipeは野食専門レシピサイトです。</p>

  <%= link_to "ログイン", login_path, class: "inline-block btn large-btn" %>
  <p>ユーザー登録がまだの方は</p>
  <%= link_to "サインアップ", signup_path, class: "inline-block btn large-btn" %>
</div>