<% provide(:title, "WildRecipeとは？") %>
<div class="row">
  <h1>WildRecipeとは？</h1>
  <div>
    <p>野食専門のユーザー投稿型レシピサイトです。草・肉・虫・魚などなんでも投稿してください。</p>
    <p>ご利用に際しまして、食材の採取等には十分な注意をお願いいたします。当サイトのレシピを参考にして事故が起こった場合でも責任はとりかねます。</p>
  </div>
</div>