<% provide(:title,"") %>

<div class="mainvisual mb-m">
  <%= image_tag "wildrecipe_mv.jpg", class: "mainimg" %>
  <div class="mainvisual-logo">
    <%= image_tag "wildrecipe_logo.png"%>  
  </div>
</div>

<section>
  <div class="content-inner">
    <div class="label gray-label">
      <h3>新着レシピ</h3>
    </div>
    <div>
      <% @recipes.each do |recipe| %>
        <%= render "layouts/recipe_list", recipe: recipe %>
      <% end %>
    </div>
  </div>
</section>

