<div id="recipe-comment-show">
  <% if @recipe.comment.present? %>
  	<%= @recipe.comment %>
  <% else %>
  	<p>コメントを入力しましょう。</p>
  <% end %>
</div>
<dt><a>コメントを変更する</a></dt>
<dd>
  <%= form_with model: @recipe do |f| %>
    <%= f.text_area :comment, placeholder: "コメントを入力しましょう", value: @recipe.comment %>
    <div class="btn-right">
      <%= f.submit "保存" , class: "btn mini-btn"%>
    </div>
  <% end %>
</dd>