<%= form_with model: @recipe do |f| %>
  <%= f.text_area :name, placeholder: "レシピの名前を入力しましょう", value: @recipe.name %>
  <div class="btn-right">
  	<%= f.submit "変更", class: "btn mini-btn"%>
  </div>
<% end %>