<% if @user_comments.present? %>
	<% @user_comments.each do |comment| %>
		<p>
			<%= link_to "#{comment.user.name}", user_path(comment.user) %>:
			<%= comment.comment %>
			<% if current_user == comment.user %>
				<%= link_to "削除", impression_path(comment),
						method: :delete, data: {confirm: "本当に削除しますか？"} %>
			<% end %>
		</p>
	<% end %>
<% end %>
<%= paginate @user_comments %>