<% if params[:search].nil? %>
  <h1>レシピ一覧(<%= Recipe.count %>件)</h1>
<% else %>
  <h1>検索結果(<%= @recipes_count.count %>件)</h1>
<% end %>

<% if @recipes.present? %>
  <% @recipes.each do |recipe| %>
    <%= render "layouts/recipe_list", recipe: recipe %>
  <% end %>
<% else %>
  <p>見つかりませんでした(><;)</p>
  <p>検索機能がまだ弱いので許してください(><;)</p>
<% end %>
<%= paginate @recipes %>