<%= form_with url: impressions_path, method: :post, local: true do |form| %>
	<%= hidden_field_tag :recipe_id, @recipe.id %>
	<%= form.text_area :comment %>
	<div class="btn-right">
		<%= form.submit "コメントを送信" , class: "btn midium-btn" %>
	</div>
<% end %>