/*フレックス*/

.flex{
	display: flex;
}

.flex-between{
	justify-content: space-between;
}

.flex-left{
  justify-content: left;
}

.flex-right{
  justify-content: right;
}

.flex-end{
  justify-content: flex-end;
}

/* ブロックレベル */

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.block{
  display: block;
}

//切り替えタブ基本設定

.tab{
	&:hover{
		cursor: pointer;
	}
}

.tab.is-active{
	background-color: $bgc;
}

.panel{
	display: none;
}

.panel.is-show{
	display: block;
}

/*テキスト並び*/
.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}
//文字色
.text-white{
  color: #fff;
}
/*見出しラベル*/

.label{
  padding: 0.8em;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  background-color: #fff;
}

.gray-label{
  border-top: 5px solid $bisque;
}

/*ボタン関連*/

.book-icon{
  font-size: 2rem;
  padding: 6px;
}

//メインビジュアル
.mainvisual{
  width: 100%;
}

//レシピ羅列

.recipe_box{
  border: 1px solid $border-color;
  border-top: none;
  background-color: #fff;
  &:first-of-type{
   border-top: 1px solid $border-color; 
  }
  
  img{
    width: 100px;
  }
}

.recipe_content{
  width: 70%;
}

.recipe_title{
  padding: 8px 12px 0;
}

.recipe_comment{
  padding: 6px 12px 0;
}

.recipe_author{
  padding: 8px 12px 0;
}
