/*フレックス*/

.flex{
	display: flex;
}

.flex-between{
	justify-content: space-between;
}

.flex-left{
  justify-content: left;
}

.flex-right{
  justify-content: right;
}

.flex-end{
  justify-content: flex-end;
}

.flex-wrap{
  flex-direction: wrap;
}

/* ブロックレベル */

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.block{
  display: block;
}

//切り替えタブ基本設定

.tab{
	&:hover{
		cursor: pointer;
	}
}

.tab.is-active{
	background-color: $bgc;
}

.panel{
	display: none;
}

.panel.is-show{
	display: block;
}

/*テキスト並び*/
.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

//文字色
.text-white{
  color: #fff;
}

//文字サイズ
.text-small{
  font-size: 1.2rem;
}
//margin設定
.mb-ss{
  margin-bottom: 5px;
}

.mb-s{
  margin-bottom: 10px;
}

.mb-m{
  margin-bottom: 20px;
}

.mb-l{
  margin-bottom: 30px;
}

/*見出しラベル*/

.label{
  padding: 0.8em;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}

.gray-label{
  border-top: 5px solid $bisque;
}

/*ボタン関連*/

.like-icon{
  font-size: 2rem;
  padding: 6px 0 6px 6px;
  color: #ff69b4;
}

.like-count{
  font-size: 2rem;
}

.book-icon{
  font-size: 2rem;
  padding: 6px;
  color: #008833;
}

//メインビジュアル
.mainimg{
    width: 100%;
}

.mainvisual{
  position: relative;
  
  .mainvisual-logo{
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(255,255,255,0.7);
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    text-align: center;
    
    img{
      width: 70%;
    }
  }
}

//レシピ羅列

.recipe_box{
  border: 1px solid $border-color;
  border-top: none;
  background-color: $box-bgc;
  height: 110px;
  box-sizing: border-box;
  position: relative;
  
  &:first-of-type{
   border-top: 1px solid $border-color; 
  }
  
  .recipe-box-img{
    width: 110px;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    
    img{
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%,-50%, 0);
    }
  }
}

.recipes-edit-btn{
  position: absolute;
  right: 3px;
  bottom: 0;
}

.recipe_content{
  width: 70%;
}

.recipe_title{
  padding: 6px 12px 0;
}

.recipe_comment{
  font-size: 1.2rem;
  padding: 4px 12px 0;
}

.recipe_author{
  font-size: 1.2rem;
  padding: 6px 12px 0;
}
