/*ページ全体の設定*/
html{
	font-size: 62.5%; // 1rem = 10px
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	letter-spacing: 0.7pt;
	line-height: 1.5em;
}

.wrapper{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	background-color: $bgc;
}

.container{
	width: 100%; 
	background-color: $bgc;
	padding: 50px 0;
	max-width: 560px;
	box-sizing: border-box;
}

.content-inner{
	padding: 0 6px;
}

.footer-clearbox{
	height: 50px;
}

/*基本タグの設定*/

h1{
	font-size: 2.3rem;
	margin: 0;
}

h2{
	font-size: 2.0rem;
	margin: 0;
}

h3{
	font-size: 1.7rem;
}

section{
	margin-bottom: 20px;
}

a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $link-color-hover;
    text-decoration: underline;
  }
}

ul{
	list-style: none;
}
input,
input[type="submit"],
input[type="button"] {
	font-size: 1.6rem;
	border: 1px solid $border-color;
	border-radius: $basic-radius;
}

textarea{
	width: 100%;
	resize: vertical;
	font-size: 16px;
	text-indent: 0.5rem;
	border: 1px solid $border-color;
	border-radius: $basic-radius;
	padding: 3px 0;
	box-sizing: border-box;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	font-size: 1.6rem;
}

//フラッシュメッセージ
.alert{
	width: 100%;
	padding: 6px;
	text-align: center;
	box-sizing: border-box;
}

.alert-list{
	width: 90%;
	margin: 0 auto;
	list-style: circle;
	text-align: left;
}

.alert-success{
	background-color: #dff0d8;
	color: #5cb85c;
}

.alert-danger{
	background-color: #f2dede;
	color: #d9534f;
}

/* ボタン */

.btn{
	border: 1px solid $border-color;
	background-color: $button-color;
	border-radius: $button-radius;
	padding: 5px;
	font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.important-btn{
	border: 1px solid $bisque-border;
	background-color: $bisque;
	border-radius: $button-radius;
	padding: 5px;
	font-size: 1.6rem;
	font-weight: bold;
	cursor: pointer;
}

.large-btn{
	width: 100%;
  max-width: 320px;
	font-size: 1.6rem;
  font-weight: bold;
}

.midium-btn{
	width: 60%;
	max-width: 210px;
}

.mini-btn{
	width: 30%;
}

.clear-btn{
	border: none;
	background-color: #fff;
	color: $link-color;
	text-decoration: underline;
	cursor: pointer;
}

.func-btn{
	font-size: 2.5rem;
	color: $link-color;
	cursor: pointer;
}

.tweet-btn{
	color: #fff;
	display: inline-block;
	background-color: #00acee;
	border-radius: $basic-radius;
	padding: 7px;
	
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

.btn-center{
	width: 100%;
	text-align: center;
}

.btn-right{
	width: 100%;
	text-align: right;
}

/*ヘッダー*/

header{
	padding: 10px 8px;	
	background-color: #fff;
	border-bottom: 1px solid $border-color;
}

.header-container{
	max-width: 550px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header-logo{
	height: 40px;
}

.search-form{
	margin: 0 auto;
	width: 100%;
	max-width: 560px;
}

.header-search-form{
	width: 100%;
	border: 1px solid #bfbcb0;
	padding: 12px 8px;
	color: #4c4a40;
	height: 40px;
	border-radius: 5px 0 0 5px;
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
	box-sizing: border-box;
}

.search-button{
	font-size: 2rem;
	width: 50px;
	height: 40px;
	background-color: $button-color;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0;
	border: 1px solid #bfbcd0;
	border-left: none;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.6);
	color: #4c4a40;
	padding: 8px 0;
}

.header-btn-li{
	li{
		padding: 0 10px;
	}
}
.login-btn{
	font-size: 4rem;
	border-right: 1px solid $border-color;
}

.header-menu-btn{
	color: $link-color;
	cursor: pointer;
	font-size: 4rem;
	&:hover{
		color: $link-color-hover;
	}
}

@media(min-width: 970px){
	.header-btn{
		display: none;
	}
}
//フッター

footer{
	width: 100%;
	padding: 1rem;
	color: #fff;
	background-color: #000;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
}

//スライドメニュー

.nav-list{
	display: inline-block;
	position: relative;
	height: 100vh;
	background-color: $box-bgc;
	padding: 16px;

	li{
		border-bottom: 1px solid $border-color;
		padding: 3px;
		&:last-of-type{
			border-bottom: none;
		}
	}

	.header-menu-btn{
		position: absolute;
		top: 16px;
		left: -50px;
		color: $box-bgc;
	}
}

#slide-menu{
	z-index: 99;
	position: fixed;
	top: 0;
	right: -100%;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100vh;
	text-align: right;

	&.is-off{
		overflow: auto;
		overflow-x: hidden;
	}
}

//サイド情報
.side-container{
	padding: 50px 0 0 0;
	display: none;
	margin: 0 auto;
	width: 180px;
	box-sizing: border-box;
	.side{
	padding: 10px;
	border : 1px solid $border-color;
	border-radius: $basic-radius;
	background-color: rgba(255,255,255,0.5);
	box-sizing: border-box;
		.side-title{
			font-size: 2.5rem;
			font-weight: bold;
		}
		.side-nav{
			text-align: center;
			padding: 10px;
			margin-bottom: 40px;
			li{
				border-bottom: 1px solid $border-color;
				padding: 5px;
			}
		}
		.side-info{
			text-align: center;
			p{
				background: #fff;
				border: 1px solid #000;
				border-radius: $basic-radius;
				padding: 10px;
				margin-bottom: 14px;
				position: relative;
				&:before{
				content: "";
				position: absolute;
				bottom: -27px;
				right: calc( 50% - 14px );
				border: 14px solid transparent;
				border-top: 14px solid #fff;
				z-index: 2;
				}
				&:after{
				content: "";
				position: absolute;
				bottom: -28px;
				right: calc( 50% - 14px );
				border: 14px solid transparent;
				border-top: 14px solid #000;
				z-index: 1;
				}
			}
			img{
				width: 100px;
			}
		}
		
	}
	.clear{
		background-color: transparent;
		border: none;
	}
}

@media(min-width: 970px){
	.side-container{
		display: inline;
	}
}

