// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipes-button{
	width: 100%;
}

.func-button{
	display: inline-block;
	width: 50%;
	background-color: $border-color;
	box-sizing: border-box;
	padding: 1rem;
	
	&:first-of-type{
		border-right: 1px solid black;
	}
}

.ingredient-list{
	padding: 0.5rem 1rem;
	border-bottom: 1px solid $border-color;

	&:last-of-type{
		border-bottom: none;
	}
}

.procedure-list{
	padding: 1rem;
	border-bottom: 1px solid $border-color;

	&:last-of-type{
		border-bottom: none;
	}
}

.comment_form{
	text-align: right;
	
	.comment_textarea{
		width: 100%;
		box-sizing: border-box;
	}
}