// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-panel-group{
	border-top: none;
	background-color: #fff;
}

.profile-tab{
	width: 100%;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border-right: 1px solid $border-color;
	box-sizing: border-box;

	&:last-of-type{
		border-right: none;
	}
	
	&.is-active{
		border-top: 3px solid $bisque;
		background-color: #fff;
	}
}
