// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-tab{
	width: 100%;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	border-right: none;
	background-color: lightgray;
	box-sizing: border-box;
	
	&:first-of-type{
		border-radius: 5px 0 0 0;
	}
	
	&:last-of-type{
		border-radius: 0 5px 0 0;
		border-right: 1px solid black;
	}
	
	&.is-active{
		border-bottom: none;
	}
}
