// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-icon{
	img{
		width: 100px;
		height: 100px;
		object-fit: cover;
	}
}

.profile_text{
	padding-left: 1rem;
}

.profile-panel-group{
	border-top: none;
}

.profile-tab{
	width: 100%;
	background-color: #fff;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	border: 1px solid $border-color;
	border-left: none;
	box-sizing: border-box;

	&:first-of-type{
		border-left: 1px solid $border-color;
	}
	
	&.is-active{
		border-top: 3px solid $bisque;
		background-color: #fff;
	}
}
