//css用変数の設定ファイル

//カラー関連
$bisque: #fbaa31;
$button-color: #fffaf0;
$link-color: #7d940a;
$link-color-hover: #d2691e;
$border-color: #bfbcd0;
$box-bgc: #fffafa;
$bgc: #fff;
//ボタンのborder-radius
$basic-radius: 5px;
$button-radius: 5px;
