<li><%= link_to "レシピ一覧", recipes_path %></li>
<li><%= link_to "レシピ投稿", new_recipe_path %></li>
<li><%= link_to "プロフィール", user_path(@current_user) %></li>
<li><%= link_to "ログアウト", logout_path, method: :delete %></li>