<header>
  <div class="container">
    <div id="slide-menu" class="is-off">
      <ul class="nav-list">
        <% if logged_in? %>
          <%= render "layouts/after_login" %>
        <% else %>
          <%= render "layouts/before_login" %>
        <% end %>
      </ul>
    </div>
  </div>
</header>