<div id="slide-menu" class="is-off">
  <ul class="nav-list">
    <% if logged_in? %>
      <%= render "layouts/after_login" %>
    <% else %>
      <%= render "layouts/before_login" %>
    <% end %>
    <div class="header-menu-btn">
	    <i class="fas fa-times-circle"></i>
    </div>
  </ul>
</div>